body {
    background-color: #1E90FF;
    box-sizing: border-box;
}

.header {
    background-color: white;
    border-radius: 20px;
    font-family: fantasy;
    font-size: 4em;
    width: 800px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    text-shadow: 1px 1px 2px #1E90FF;
    box-shadow: 1px 1px 10px black;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.main {
    margin-top: 100px;

}

.popeye {
    border: solid 3px black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.popeye:hover {
    border-radius: 0;
}